.parallax {
    height: 16em;
    position: relative;
    background-color: black;
    z-index: 0;
}

.parallax__background {
    /* Full height */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.parallax__body--left {
    left: 15em;
    text-align: start;
}

.parallax__body > h1 {
    text-transform: uppercase;
    color: white;
}

.parallax__body > p {
    color: white;
    font-size: .6em;
    display: none;
}

.parallax__body--left > p {
    display: block;
    max-width: 30em;
}

.parallax__background--gorilla-reading {
    background-image: url("../static/images/gorilla-reading.jpg");
    background-size: cover;
}

.parallax__background--mammals {
    background-image: url("../static/images/mammals.jpg");
}

.parallax__background--birds {
    background-image: url("../static/images/birds.jpg");
}

.parallax__background--reptiles {
    background-image: url("../static/images/reptiles.jpg");
}

.parallax__background--insects {
    background-image: url("../static/images/insects.jpg");
}

.parallax__background--about-us {
    background-image: url("../static/images/about-monkey-bg.jpg");
}

/** Medium Screen */
@media (min-width: 35em) {

    .parallax__body > p {
        display: block;
    }

}

/** Large Screen */
@media (min-width: 70em) {

}