<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="../css/basic.css" rel="stylesheet" type="text/css">
    <link href="../css/page-header.module.css" rel="stylesheet" type="text/css">
    <link href="../css/nav-menu.module.css" rel="stylesheet" type="text/css">
    <link href="../css/parallax.module.css" rel="stylesheet" type="text/css">
    <link href="../css/divider.module.css" rel="stylesheet" type="text/css">
    <link href="../css/backgrounds.module.css" rel="stylesheet" type="text/css">
    <link href="../css/wood-header.css" rel="stylesheet" type="text/css">
    <link href="../css/utility.module.css" rel="stylesheet" type="text/css">
    <link href="../css/about.css" rel="stylesheet" type="text/css">
</head>
<body>
<header id="header" class="page-header">
    <h1>
        <a href="home.html">Animal ZOO</a>
    </h1>
    <div>We love animals</div>
</header>
<nav class="menu" id="main-menu">
    <button class="menu-toggle" id="toggle-menu"></button>
    <div class="menu-dropdown">
        <ul class="nav-menu">
            <li><a href="news.html">News</a></li>
            <li><a href="population.html">Population</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>
</nav>
<div class="divider divider--md-and-lg"></div>
<div class="parallax" style="height: 25em">
    <div class="parallax__background parallax__background--about-us"></div>
    <div class="parallax__body parallax__body--left">
        <h1>History of ZOO</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.</p>
    </div>
</div>
<div class="divider"></div>
<div class="bg-about">
    <div class="wood-header">
        <img src="../../static/images/work-hours-bg.png">
        <div class="wood-header__content">
            <h2 class="primary-color">ZOO MAP</h2>
        </div>
    </div>
    <div class="map">
        <img src="../../static/images/zoo-map.png">
    </div>
</div>
<div class="divider"></div>
<footer>
    <div class="contact">
        <div class="contact__info">
            <div>CONTACT INFO</div>
            <div><b>Email:</b> zoo@animal-zoo.com</div>
            <div><b>Phone:</b> +383 46 180 922</div>
            <div><b>Fax:</b> 3116-657</div>
            <div><b>Address:</b>Some address, City, 10500, Country</div>
        </div>
        <div class="contact__social-media">
            <img src="../../static/images/facebook.png">
            <img src="../../static/images/twitter.png">
            <img src="../../static/images/you-tube.png">
        </div>
    </div>
</footer>
</body>
</html>