main {
    padding: 1em;
}

.bg-full {
    background-image: url("../../static/images/section-background-left-plants.png"),
    url("../../static/images/section-background-right-plants.png"),
    url("../../static/images/section-background-bottom-jungle.png"),
    url(../../static/images/grunge-repeatable.jpg);
    background-position: left top, right top, center bottom;
    background-repeat: no-repeat, no-repeat, no-repeat, repeat;
    background-size: auto, auto, contain, auto;
}

.bg-stone {
    background-image: url(../../static/images/grunge-repeatable.jpg);
}

.bg-about {
    padding: 4em 6em;
    background-image: url("../../static/images/about-bg.jpg");
}

.bg-stone--bottom-animals {
    background-image: url("../../static/images/bg-animals.png"), url("../../static/images/grunge-repeatable.jpg");
    background-position: center bottom;
    background-repeat: no-repeat, repeat;
    background-size: contain, auto;
}

.bg-monkey--right {
    background-image: url("../../static/images/latest-news-bg.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    background-color: #282832;
}

/** Medium Screen */
@media (min-width: 35em) {

    main {
        padding: 2em 1em;
    }

}


/** Large Screen */
@media (min-width: 70em) {

    main {
        padding: 2em 4em;
    }

}
