
.wood-header {
    position: relative;
    text-align: center;
}

.wood-header > img {
    width: 50%;
    height: 50%;
}

.wood-header__content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.wood-header__content > h3, h4 {
    margin: 0;
}

.wood-header__content > h3 {
    color: var(--primary);
}


/** Large Screen */
@media (min-width: 70em) {

    .wood-header > img {
        width: initial;
        height: initial;
    }
    
}